<footer class="page-content-wrapper public-footer">
  <!-- START COPYRIGHT -->
  <!-- START CONTAINER FLUID -->
  <!-- START CONTAINER FLUID -->
  <div class="container container-fixed-lg footer">
    <div class="copyright sm-text-center">
      <p class="small no-margin sm-pull-reset text-center">
        <span class="hint-text">Copyright &copy; {{ year | l10nDate:defaultLocale:options }}  </span>
        <!--<span class="font-montserrat" l10nTranslate>Footer.TahalufUAE</span>.-->
        <span class="hint-text"><b>All rights reseved</b></span>
        <span class="hint-text" style="float:right">
          <div class="logo">
            <!-- <img src="./../../../../assets/images/login/DPW.png" style="border-right:red;"> -->
            <a><strong>A D P</strong></a> <b>Engineered by Technologica</b>
          </div>         
        </span>
      </p>
      
      <div class="clearfix"></div>
    </div>
  </div>
</footer>
  

