<div class="forget_section"></div>
<div class="forget_sextion">
  <div class="container full-width p-t-20 p-b-20 p-r-30 p-l-30 section-card ">
    <div class="row p-t-5 p-b-10">
      <div class="col-md-12">
        <h1 class="widget-title" l10nTranslate><i class="fa fa-lock text-custom-primary"></i> ForgetPassword.CreateNewPassword</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <form name="form" (ngSubmit)="f.form.valid && updatePassword()" #f="ngForm" class="login-form" novalidate>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label l10nTranslate>ForgetPassword.NewPassword</label>
              <div class="input-group form-group">
                <input type="password" name="NewPassword" pPassword required
                       #NewPassword="ngModel"
                       (blur)="checkConfirmedPassword()"
                       weakLabel="{{'User.WeakPassword' | translate:lang}}"
                       mediumLabel="{{'User.MediumLabel' | translate:lang}}"
                       strongLabel="{{'User.StrongLabel' | translate:lang}}"
                       promptLabel="{{'User.PromptLabel' | translate:lang}}"
                       class="form-control"
                       [(ngModel)]="newPassword" />
                <div *ngIf="!newPassword && f.submitted && !NewPassword.valid || (NewPassword.touched && !NewPassword.valid )" class="text-danger field-error-msg">
                  <small l10nTranslate>ForgetPassword.NewPasswordIsRequired</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label l10nTranslate>ForgetPassword.ConfirmPassword</label>
              <div class="input-group form-group">
                <input type="password" name="ConfirmPassword" required
                       #ConfirmPassword="ngModel"
                       class="form-control"
                       (blur)="checkConfirmedPassword()"
                       [(ngModel)]="confirmPassword">
                <div *ngIf="!confirmPassword && f.submitted && !ConfirmPassword.valid || (ConfirmPassword.touched && !ConfirmPassword.valid )" class="text-danger field-error-msg">
                  <small l10nTranslate>ForgetPassword.ConfirmPasswordIsRequired</small>
                </div>
                <div *ngIf="(!isConfirmed && confirmPassword) || (f.submitted && !isConfirmed)" class="text-danger field-error-msg">
                  <small l10nTranslate>ForgetPassword.NotConfirmedPassword</small>
                </div>
              </div>
            </div>
          </div>
          <button [disabled]="!isConfirmed" class="grey-custom-btn btn-sm pull-right" style="cursor:pointer;" type="submit">
            <span l10nTranslate>Common.Confirm <i class="fa fa-arrow-circle-o-right"></i></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display" (onHide)="closeDialog()" [modal]="true" [responsive]="true" [height]="350" [width]="800" [minWidth]="200" [minY]="70">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i style="color:#ffcc00" class="fa fa-warning fa-4x"></i></h3>
              <div class="panel-body">
                <div class="linkInfo-forget-password">
                  <strong class="lbl-InfoLink-forget-password" l10nTranslate *ngIf="confirmationTokenStatus.isUsed || confirmationTokenStatus.isExpired">
                    ForgetPassword.IsUsedWorningOrIsExpired
                  </strong>
                  <strong class="lbl-InfoLink-forget-password" l10nTranslate *ngIf="confirmationTokenStatus.notFound">
                    ForgetPassword.NotFoundWorning
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="isUpdatedSuccessfully" (onHide)="closeDialog()" [modal]="true" [responsive]="true" [height]="350" [width]="800" [minWidth]="200" [minY]="70">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i style="color:#51c639" class="fa fa-check fa-4x"></i></h3>
              <div class="panel-body">
                <div class="linkInfo-forget-password">
                  <strong class="lbl-InfoLink-forget-password" l10nTranslate>
                    ForgetPassword.PasswordUpdatedSuccessfully
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
