
<div class="forget_sextion">
  <div class="container full-width p-t-20 p-b-20 p-r-30 p-l-30 section-card ">
    <div class="row p-t-5 p-b-10">
      <div class="col-md-12">
        <h1 class="widget-title" l10nTranslate><i class="fa fa-lock text-custom-primary"></i> Common.ChangePassword</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <form name="form" (ngSubmit)="f.form.valid && confirm(f)" #f="ngForm" class="login-form" novalidate>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label l10nTranslate>ChangePassowrd.UserName</label>
              <div class="input-group form-group">
                <input type="text" name="UserName" #UserName="ngModel" required class="form-control" disabled="disabled" [(ngModel)]="userName"
                       placeholder="{{'ChangePassowrd.UserName' | translate:lang}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label l10nTranslate>ChangePassowrd.OldPassword</label>
              <div class="input-group form-group">
                <input type="password" name="OldPassword" required #OldPassword="ngModel" class="form-control" [(ngModel)]="oldPassowrd"
                       placeholder="{{'ChangePassowrd.OldPassword' | translate:lang}}">
                <div *ngIf="!oldPassowrd && f.submitted && !OldPassword.valid || (OldPassword.touched && !OldPassword.valid )" class="text-danger field-error-msg">
                  <small l10nTranslate>ChangePassowrd.OldPasswordIsRequired</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label l10nTranslate>ChangePassowrd.NewPassword</label>
              <div class="input-group form-group">
                <input type="password" name="NewPassword" pPassword required
                       #NewPassword="ngModel"
                       weakLabel="{{'User.WeakPassword' | translate:lang}}"
                       mediumLabel="{{'User.MediumLabel' | translate:lang}}"
                       strongLabel="{{'User.StrongLabel' | translate:lang}}"
                       promptLabel="{{'User.PromptLabel' | translate:lang}}"
                       class="form-control"
                       [(ngModel)]="newPassword"
                       placeholder="{{'ChangePassowrd.NewPassword' | translate:lang}}">
                <div *ngIf="!newPassword && f.submitted && !NewPassword.valid || (NewPassword.touched && !NewPassword.valid )" class="text-danger field-error-msg">
                  <small l10nTranslate>ChangePassowrd.NewPasswordIsRequired</small>
                </div>
              </div>
            </div>
          </div>
          <button class="grey-custom-btn btn-sm pull-right" style="cursor:pointer;" type="submit">
            <span l10nTranslate>Common.Confirm <i class="fa fa-arrow-circle-o-right"></i></span>
          </button>
        </form>
      </div>
    </div>
  </div>

</div>
